<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="QLSV"
			 connectionString="Data Source=DESKTOP-R3EHFK4\PNG;Initial Catalog=QLSV_261022;Integrated Security=True"/>
	</connectionStrings>
</configuration>